* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Gilroy", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Regular.woff');
    src: local('Gilroy Regular'), local('Gilroy-Regular'), url('../public/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Medium.woff');
    src: local('Gilroy Medium'), local('Gilroy-Medium'), url('../public/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-SemiBold.woff');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'), url('../public/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Bold.woff');
    src: local('Gilroy Bold'), local('Gilroy-Bold'), url('../public/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.header-homepage {
    background-image: url(../assets/universal/background.svg);
    background-size: cover;
    width: 100%;
    height: 700px;
}

@media screen and (max-width: 768px) {
    .header-homepage {
        height: auto;
        background-position: right;
    }
}